/*@import a Google Font here!*/

body {
  text-align: center;
}

#container {

}

.dashed {
  border:1px dashed black;
  border-radius: 20px;
  margin: 10px 0px;
}

.left-container, .right-container {

}
h1 {

}
